In [ ]:
spark = SparkSession \
    .builder \
    .appName("Python Spark Nombres Argentina") \
    .getOrCreate()

In [ ]:
spark

In [1]:
 ficheiro= "input_nombresarg/historico-nombres.csv"

In [2]:
type(ficheiro)

str

In [13]:
df_nomarg = spark.read.csv(ficheiro, sep=',',header=True)

In [14]:
df_nomarg.show()

+------------+--------+----+
|      nombre|cantidad|anio|
+------------+--------+----+
|       Maria|     314|1922|
|        Rosa|     203|1922|
|        Jose|     163|1922|
| Maria Luisa|     127|1922|
|      Carmen|     117|1922|
|         Ana|     113|1922|
| Maria Elena|     112|1922|
|       Juana|     111|1922|
|Maria Esther|     109|1922|
|     Antonio|     103|1922|
|       Elena|     102|1922|
|      Teresa|      97|1922|
|      Angela|      93|1922|
|   Margarita|      88|1922|
|    Catalina|      87|1922|
|   Francisco|      87|1922|
|        Juan|      87|1922|
|   Francisca|      84|1922|
|      Elvira|      81|1922|
|      Josefa|      79|1922|
+------------+--------+----+
only showing top 20 rows

In [15]:
#Número de registros del fichero
df_nomarg.count()

9761609

In [24]:
#Los diez nombres más utilizados en el año 1965
df_nomarg.filter(df_nomarg['anio']==1965).show(10)

+----------------+--------+----+
|          nombre|cantidad|anio|
+----------------+--------+----+
|     Juan Carlos|    5415|1965|
|    Miguel Angel|    5060|1965|
|       Jose Luis|    4206|1965|
|   Norma Beatriz|    4009|1965|
|  Carlos Alberto|    3674|1965|
|       Ana Maria|    2773|1965|
| Maria Alejandra|    2653|1965|
|    Luis Alberto|    2617|1965|
|  Maria Cristina|    2285|1965|
|Maria del Carmen|    2204|1965|
+----------------+--------+----+
only showing top 10 rows

In [25]:
df_nomarg.filter(df_nomarg['anio']==1922).show()

+------------+--------+----+
|      nombre|cantidad|anio|
+------------+--------+----+
|       Maria|     314|1922|
|        Rosa|     203|1922|
|        Jose|     163|1922|
| Maria Luisa|     127|1922|
|      Carmen|     117|1922|
|         Ana|     113|1922|
| Maria Elena|     112|1922|
|       Juana|     111|1922|
|Maria Esther|     109|1922|
|     Antonio|     103|1922|
|       Elena|     102|1922|
|      Teresa|      97|1922|
|      Angela|      93|1922|
|   Margarita|      88|1922|
|    Catalina|      87|1922|
|   Francisco|      87|1922|
|        Juan|      87|1922|
|   Francisca|      84|1922|
|      Elvira|      81|1922|
|      Josefa|      79|1922|
+------------+--------+----+
only showing top 20 rows

In [23]:
#Número de nombres que lleva “María”.
#df = df.withColumn('output', F.expr("regexp_extract_all(stringValue, '[a-z]*([0-9]+)', 1)"))


df_nomarg.filter(df_nomarg['nombre']=='Maria').show()

+------+--------+----+
|nombre|cantidad|anio|
+------+--------+----+
| Maria|     314|1922|
| Maria|     351|1923|
| Maria|     416|1924|
| Maria|     496|1925|
| Maria|     575|1926|
| Maria|     623|1927|
| Maria|     764|1928|
| Maria|     753|1929|
| Maria|     858|1930|
| Maria|     831|1931|
| Maria|     836|1932|
| Maria|     842|1933|
| Maria|     900|1934|
| Maria|     841|1935|
| Maria|     899|1937|
| Maria|     919|1938|
| Maria|     979|1939|
| Maria|     968|1940|
| Maria|     991|1941|
| Maria|    1019|1942|
+------+--------+----+
only showing top 20 rows

In [ ]:
#Número de nombres compuestos por tres nombres

In [ ]:
#Año con más nombres compuestos.

In [19]:
#Uso de “Gabriela” por cada año

In [ ]:
#Para el año 1980 porcentaje de cada nombre de ese año.