In [10]:
dogInfo= spark.read.csv("DogInfo.csv")
dogInfo

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string]

In [11]:
dogMove= spark.read.csv("DogMoveData.csv")
dogMove

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string, _c16: string, _c17: string, _c18: string, _c19: string]

In [12]:
type(dogInfo)

pyspark.sql.dataframe.DataFrame

In [13]:
dogInfo.show()

+---+--------------------+---+---+---+---+
|_c0|                 _c1|_c2|_c3|_c4|_c5|
+---+--------------------+---+---+---+---+
| 16|          Crossbreed| 13| 20|  1|  0|
| 18|    Belgian Shepherd| 29| 76|  2|  0|
| 19|     German Shepherd| 30| 57|  1|  0|
| 20|       Border Collie| 15| 47|  1|  0|
| 21|    Golden Retriever| 39| 19|  2|  0|
| 22|           Beauceron| 35| 20|  2|  0|
| 23|  Labrador Retriever| 23|113|  1|  1|
| 25|    Finnish Lapphund| 26| 88|  2|  1|
| 26|   Spanish Water Dog| 20| 47|  2|  0|
| 27|                Mudi| 16| 99|  2|  1|
| 28|            Hovawart| 28|109|  1|  1|
| 29|          Crossbreed| 13| 32|  2|  0|
| 30|Bull Terrier (Min...| 17| 31|  1|  1|
| 33|Bouvier des Ardennes| 23| 24|  2|  0|
| 34|       Smooth Collie| 18| 98|  1|  0|
| 36|          Crossbreed| 20| 95|  2|  0|
| 39|       Border Collie| 15| 60|  1|  0|
| 41|Belgian Shepherd ...| 25| 22|  2|  0|
| 43|   Lagotto Romagnolo| 14|116|  2|  0|
| 44|          Crossbreed| 19| 67|  1|  1|
+---+--------------------+---+---+---+---+
only showing top 20 rows

In [14]:
dogInfo.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)

In [50]:
#Consulta 1: Sacar o número de cans
dogInfo.count()

45

In [51]:
#Consulta 2: Sacar os cans castrados.
dogInfo.filter(dogInfo['_c5'] ==1).show()

+---+--------------------+---+---+---+---+
|_c0|                 _c1|_c2|_c3|_c4|_c5|
+---+--------------------+---+---+---+---+
| 23|  Labrador Retriever| 23|113|  1|  1|
| 25|    Finnish Lapphund| 26| 88|  2|  1|
| 27|                Mudi| 16| 99|  2|  1|
| 28|            Hovawart| 28|109|  1|  1|
| 30|Bull Terrier (Min...| 17| 31|  1|  1|
| 44|          Crossbreed| 19| 67|  1|  1|
| 47|Bouvier des Ardennes| 22| 56|  1|  1|
| 53|     German Shepherd| 35| 87|  1|  1|
| 54|   Australian Kelpie| 18| 20|  2|  1|
| 55|              Vizsla| 25| 61|  2|  1|
| 57|           Beauceron| 28| 52|  1|  1|
| 60|     Standard Poodle| 31| 76|  2|  1|
| 63|  Labrador Retriever| 37| 30|  2|  1|
| 65|Nova Scotia Duck ...| 20| 84|  1|  1|
| 74|     German Shepherd| 32| 90|  1|  1|
+---+--------------------+---+---+---+---+

In [52]:
#Consulta 3: Saca a máxima idade dos cans.
dogInfo.createOrReplaceTempView("cans")

sqlMaxIdade = spark.sql("SELECT MAX(_c3) FROM cans")
sqlMaxIdade.show()

+--------+
|max(_c3)|
+--------+
|      99|
+--------+

In [53]:
#Consulta 4: Saca as cadelas que pesen máis de 30 kilos.
sqlCadelas = spark.sql("SELECT * FROM cans WHERE _c4 == 1 AND _c2 > 30")
sqlCadelas.show()

+---+---------------+---+---+---+---+
|_c0|            _c1|_c2|_c3|_c4|_c5|
+---+---------------+---+---+---+---+
| 53|German Shepherd| 35| 87|  1|  1|
| 74|German Shepherd| 32| 90|  1|  1|
+---+---------------+---+---+---+---+

In [54]:
#Consulta 5: Saca a media da idade dos cans.
sqlIdadeMedia = spark.sql("SELECT AVG(_c3) FROM cans")
sqlIdadeMedia.show()

+------------------+
|          avg(_c3)|
+------------------+
|58.044444444444444|
+------------------+

In [55]:
#Consulta 6: Saca as diferentes razas dos cans co número de cans por cada unha.
sqlRazasCans = spark.sql("SELECT _c1, COUNT(_c1) FROM cans GROUP BY _c1")
sqlRazasCans.show()

+--------------------+----------+
|                 _c1|count(_c1)|
+--------------------+----------+
|      Dutch Shepherd|         2|
|  Labrador Retriever|         3|
|English Springer ...|         1|
|Bull Terrier (Min...|         1|
|    Finnish Lapphund|         1|
|     Standard Poodle|         1|
|          Crossbreed|         4|
|                Mudi|         1|
|       Border Collie|         4|
|    Belgian Shepherd|         1|
|     German Shepherd|         3|
|           Beauceron|         3|
|Bouvier des Ardennes|         2|
|             Bouvier|         1|
|       Smooth Collie|         1|
|              Vizsla|         1|
|            Hovawart|         2|
|Flat-Coated Retri...|         1|
|   Lagotto Romagnolo|         1|
|    Lapponian Herder|         2|
+--------------------+----------+
only showing top 20 rows

In [73]:
#Consulta 7: Saca os cans de raza Crossbreed realizaron a tarefa de xogar(task play).
dogMove.createOrReplaceTempView("cansMove")
sqlCrossPlay = spark.sql("SELECT DISTINCT c.* FROM cans c INNER JOIN cansMove cm ON c._c0 == cm._c0 WHERE cm._c15 == 'Task play' AND c._c1 == 'Crossbreed'")
sqlCrossPlay.show()

+---+----------+---+---+---+---+
|_c0|       _c1|_c2|_c3|_c4|_c5|
+---+----------+---+---+---+---+
| 16|Crossbreed| 13| 20|  1|  0|
+---+----------+---+---+---+---+

In [64]:
dShow = spark.sql("SELECT * FROM cansMove")
#dShow.show()

In [75]:
#Consulta 8: Saca os cans que tiveron 3 comportamentos durante o experimento.
sqlBehavior3 = spark.sql("SELECT DISTINCT c.* FROM cans c INNER JOIN cansMove cm ON c._c0 == cm._c0 WHERE cm._c18== '<undefined>'")
sqlBehavior3.show()

+---+----------------+---+---+---+---+
|_c0|             _c1|_c2|_c3|_c4|_c5|
+---+----------------+---+---+---+---+
| 16|      Crossbreed| 13| 20|  1|  0|
| 18|Belgian Shepherd| 29| 76|  2|  0|
| 19| German Shepherd| 30| 57|  1|  0|
| 20|   Border Collie| 15| 47|  1|  0|
| 22|       Beauceron| 35| 20|  2|  0|
| 21|Golden Retriever| 39| 19|  2|  0|
+---+----------------+---+---+---+---+

In [77]:
#Consulta 9: Saca as tarefas que máis mandaron facer.
cansTarefas = spark.sql("SELECT _c15, COUNT(_c15) FROM cansMove GROUP BY _c15 ORDER BY _c15 ASC LIMIT 3")
cansTarefas.show()

+-------------+-----------+
|         _c15|count(_c15)|
+-------------+-----------+
|  <undefined>|     257262|
|Task lie down|     109634|
|    Task play|     129066|
+-------------+-----------+

In [79]:
#-Consulta 10: Saca aos cans que tiveron algún evento curto (neste caso non hai ningún pero sería así en caso de que a houbera).
cansEventoCurto = spark.sql("SELECT DISTINCT c.* FROM cans c INNER JOIN cansMove cm ON c._c0 == cm._c0 WHERE cm._c19 != '<undefined>'")
cansEventoCurto.show()

+---+---+---+---+---+---+
|_c0|_c1|_c2|_c3|_c4|_c5|
+---+---+---+---+---+---+
+---+---+---+---+---+---+

In [87]:
#Consulta3 
dogInfo['_c3'].max.show

Column<'_c3[max][show]'>