In [1]:
# Mostra o contexto de execución Spark Context
sc

In [2]:
# Crea unha lista con 8 elementos
lista = [1,2,3,4,5,6,7,8]

In [3]:
# Comproba o tipo
type(lista)

list

In [4]:
# Crea un elemento RDD a partir da lista
un_rdd = sc.parallelize(lista)

In [5]:
# Conta o número de elementos
un_rdd.count()

8

In [6]:
# Comproba o typo do elemento
type(un_rdd)

pyspark.rdd.RDD

In [7]:
ficheiro_ruta = "credit.csv"

In [8]:
# Lectura do ficheiro a RDD
fichero = sc.textFile(ficheiro_ruta)
type(fichero)

pyspark.rdd.RDD

In [9]:
fichero.count()

2299999

In [13]:
df = spark.read.csv(ficheiro_ruta)

In [14]:
df.count()

2299999

In [12]:
sc

In [16]:
df = spark.read.csv("file:///home/hduser/archive(1)/credit.csv")

In [17]:
type(df)

pyspark.sql.dataframe.DataFrame

In [18]:
df

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string]

In [19]:
df.show()

+---+---+----+---+---+-----+-------+------------------+--------------------+-------------+----+-------+----+----+----+
|_c0|_c1| _c2|_c3|_c4|  _c5|    _c6|               _c7|                 _c8|          _c9|_c10|   _c11|_c12|_c13|_c14|
+---+---+----+---+---+-----+-------+------------------+--------------------+-------------+----+-------+----+----+----+
|  0|  0|2002|  9|  1|06:21|$134.09| Swipe Transaction| 3527213246127876953|     La Verne|  CA|91750.0|5300|null|  No|
|  0|  0|2002|  9|  1|06:42| $38.48| Swipe Transaction| -727612092139916043|Monterey Park|  CA|91754.0|5411|null|  No|
|  0|  0|2002|  9|  2|06:22|$120.34| Swipe Transaction| -727612092139916043|Monterey Park|  CA|91754.0|5411|null|  No|
|  0|  0|2002|  9|  2|17:45|$128.95| Swipe Transaction| 3414527459579106770|Monterey Park|  CA|91754.0|5651|null|  No|
|  0|  0|2002|  9|  3|06:23|$104.71| Swipe Transaction| 5817218446178736267|     La Verne|  CA|91750.0|5912|null|  No|
|  0|  0|2002|  9|  3|13:53| $86.19| Swipe Transaction|-7146670748125200898|Monterey Park|  CA|91755.0|5970|null|  No|
|  0|  0|2002|  9|  4|05:51| $93.84| Swipe Transaction| -727612092139916043|Monterey Park|  CA|91754.0|5411|null|  No|
|  0|  0|2002|  9|  4|06:09|$123.50| Swipe Transaction| -727612092139916043|Monterey Park|  CA|91754.0|5411|null|  No|
|  0|  0|2002|  9|  5|06:14| $61.72| Swipe Transaction| -727612092139916043|Monterey Park|  CA|91754.0|5411|null|  No|
|  0|  0|2002|  9|  5|09:35| $57.10| Swipe Transaction| 4055257078481058705|     La Verne|  CA|91750.0|7538|null|  No|
|  0|  0|2002|  9|  5|20:18| $76.07| Swipe Transaction|-4500542936415012428|     La Verne|  CA|91750.0|5814|null|  No|
|  0|  0|2002|  9|  5|20:41| $53.91|Online Transaction|-9092677072201095172|       ONLINE|null|   null|4900|null|  No|
|  0|  0|2002|  9|  6|06:16|$110.37| Swipe Transaction| 2027553650310142703|    Mira Loma|  CA|91752.0|5541|null|  No|
|  0|  0|2002|  9|  7|06:16|$117.05| Swipe Transaction| -727612092139916043|Monterey Park|  CA|91754.0|5411|null|  No|
|  0|  0|2002|  9|  7|06:34| $45.30| Swipe Transaction|-5475680618560174533|Monterey Park|  CA|91755.0|5942|null|  No|
|  0|  0|2002|  9|  7|09:39| $29.34| Swipe Transaction| 4055257078481058705|     La Verne|  CA|91750.0|7538|null|  No|
|  0|  0|2002|  9|  8|06:10|$147.45| Swipe Transaction|  -34551508091458520|     La Verne|  CA|91750.0|5912|null|  No|
|  0|  0|2002|  9|  8|06:38| $27.75| Swipe Transaction| 4060646732831064559|     La Verne|  CA|91750.0|5411|null|  No|
|  0|  0|2002|  9|  8|13:48| $76.57| Swipe Transaction| -727612092139916043|Monterey Park|  CA|91754.0|5411|null|  No|
|  0|  0|2002|  9|  8|22:01| $22.56| Swipe Transaction|-6733168469687845480|    Mira Loma|  CA|91752.0|7832|null|  No|
+---+---+----+---+---+-----+-------+------------------+--------------------+-------------+----+-------+----+----+----+
only showing top 20 rows

In [20]:
df.first()

Row(_c0='0', _c1='0', _c2='2002', _c3='9', _c4='1', _c5='06:21', _c6='$134.09', _c7='Swipe Transaction', _c8='3527213246127876953', _c9='La Verne', _c10='CA', _c11='91750.0', _c12='5300', _c13=None, _c14='No')

In [25]:
df['_c7']

Column<'_c7'>

In [26]:
df.select('_c7').show()

+------------------+
|               _c7|
+------------------+
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
|Online Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
+------------------+
only showing top 20 rows

In [27]:
df.select('_c7','_c11').show()

+------------------+-------+
|               _c7|   _c11|
+------------------+-------+
| Swipe Transaction|91750.0|
| Swipe Transaction|91754.0|
| Swipe Transaction|91754.0|
| Swipe Transaction|91754.0|
| Swipe Transaction|91750.0|
| Swipe Transaction|91755.0|
| Swipe Transaction|91754.0|
| Swipe Transaction|91754.0|
| Swipe Transaction|91754.0|
| Swipe Transaction|91750.0|
| Swipe Transaction|91750.0|
|Online Transaction|   null|
| Swipe Transaction|91752.0|
| Swipe Transaction|91754.0|
| Swipe Transaction|91755.0|
| Swipe Transaction|91750.0|
| Swipe Transaction|91750.0|
| Swipe Transaction|91750.0|
| Swipe Transaction|91754.0|
| Swipe Transaction|91752.0|
+------------------+-------+
only showing top 20 rows

In [29]:
df.select(df['_c7']).show()

+------------------+
|               _c7|
+------------------+
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
|Online Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
| Swipe Transaction|
+------------------+
only showing top 20 rows

In [30]:
df.select(df['_c11']+1).show()

+----------+
|(_c11 + 1)|
+----------+
|   91751.0|
|   91755.0|
|   91755.0|
|   91755.0|
|   91751.0|
|   91756.0|
|   91755.0|
|   91755.0|
|   91755.0|
|   91751.0|
|   91751.0|
|      null|
|   91753.0|
|   91755.0|
|   91756.0|
|   91751.0|
|   91751.0|
|   91751.0|
|   91755.0|
|   91753.0|
+----------+
only showing top 20 rows

In [31]:
df.filter(df['_c11'] > 91750).show()

+---+---+----+---+---+-----+-------+-----------------+--------------------+-------------+----+-------+----+----+----+
|_c0|_c1| _c2|_c3|_c4|  _c5|    _c6|              _c7|                 _c8|          _c9|_c10|   _c11|_c12|_c13|_c14|
+---+---+----+---+---+-----+-------+-----------------+--------------------+-------------+----+-------+----+----+----+
|  0|  0|2002|  9|  1|06:42| $38.48|Swipe Transaction| -727612092139916043|Monterey Park|  CA|91754.0|5411|null|  No|
|  0|  0|2002|  9|  2|06:22|$120.34|Swipe Transaction| -727612092139916043|Monterey Park|  CA|91754.0|5411|null|  No|
|  0|  0|2002|  9|  2|17:45|$128.95|Swipe Transaction| 3414527459579106770|Monterey Park|  CA|91754.0|5651|null|  No|
|  0|  0|2002|  9|  3|13:53| $86.19|Swipe Transaction|-7146670748125200898|Monterey Park|  CA|91755.0|5970|null|  No|
|  0|  0|2002|  9|  4|05:51| $93.84|Swipe Transaction| -727612092139916043|Monterey Park|  CA|91754.0|5411|null|  No|
|  0|  0|2002|  9|  4|06:09|$123.50|Swipe Transaction| -727612092139916043|Monterey Park|  CA|91754.0|5411|null|  No|
|  0|  0|2002|  9|  5|06:14| $61.72|Swipe Transaction| -727612092139916043|Monterey Park|  CA|91754.0|5411|null|  No|
|  0|  0|2002|  9|  6|06:16|$110.37|Swipe Transaction| 2027553650310142703|    Mira Loma|  CA|91752.0|5541|null|  No|
|  0|  0|2002|  9|  7|06:16|$117.05|Swipe Transaction| -727612092139916043|Monterey Park|  CA|91754.0|5411|null|  No|
|  0|  0|2002|  9|  7|06:34| $45.30|Swipe Transaction|-5475680618560174533|Monterey Park|  CA|91755.0|5942|null|  No|
|  0|  0|2002|  9|  8|13:48| $76.57|Swipe Transaction| -727612092139916043|Monterey Park|  CA|91754.0|5411|null|  No|
|  0|  0|2002|  9|  8|22:01| $22.56|Swipe Transaction|-6733168469687845480|    Mira Loma|  CA|91752.0|7832|null|  No|
|  0|  0|2002|  9| 10|06:20|$160.00|Swipe Transaction|-4282466774399734331|    Mira Loma|  CA|91752.0|4829|null|  No|
|  0|  0|2002|  9| 10|21:39| $29.33|Swipe Transaction|-6733168469687845480|    Mira Loma|  CA|91752.0|7832|null|  No|
|  0|  0|2002|  9| 11|13:06| $62.06|Swipe Transaction| 2027553650310142703|    Mira Loma|  CA|91752.0|5541|null|  No|
|  0|  0|2002|  9| 11|13:17|$-99.00|Swipe Transaction| 2027553650310142703|    Mira Loma|  CA|91752.0|5541|null|  No|
|  0|  0|2002|  9| 11|13:23| $99.00|Swipe Transaction| 2027553650310142703|    Mira Loma|  CA|91752.0|5541|null|  No|
|  0|  0|2002|  9| 15|13:54| $81.35|Swipe Transaction|-5904116920141006298|  Diamond Bar|  CA|91765.0|5719|null|  No|
|  0|  0|2002|  9| 21|06:27|$145.50|Swipe Transaction| 2027553650310142703|    Mira Loma|  CA|91752.0|5541|null|  No|
|  0|  0|2002|  9| 21|06:47| $48.34|Swipe Transaction|-5475680618560174533|Monterey Park|  CA|91755.0|5942|null|  No|
+---+---+----+---+---+-----+-------+-----------------+--------------------+-------------+----+-------+----+----+----+
only showing top 20 rows

In [32]:
df.count()

2299999

In [33]:
df.groupBy('_c7').count().show()

+------------------+-------+
|               _c7|  count|
+------------------+-------+
| Swipe Transaction|1440884|
|  Chip Transaction| 565831|
|Online Transaction| 293284|
+------------------+-------+

In [34]:
type(df.groupBy('_c7'))

pyspark.sql.group.GroupedData