In [1]:
# Mostra o contexto de execución Spark Context
sc

In [2]:
df = spark.read.csv("file:///home/hduser/archive(1)/credit.csv")

In [3]:
df = df.withColumnRenamed("_c0", "user")\
       .withColumnRenamed("_c1", "card")\
       .withColumnRenamed("_c2", "year")\
       .withColumnRenamed("_c3", "month")\
       .withColumnRenamed("_c4", "day")\
       .withColumnRenamed("_c5", "time")\
       .withColumnRenamed("_c6", "amount")\
       .withColumnRenamed("_c7", "use_chip")\
       .withColumnRenamed("_c8", "merch_name")\
       .withColumnRenamed("_c9", "merch_city")\
       .withColumnRenamed("_c10", "merch_state")\
       .withColumnRenamed("_c11", "zip")\
       .withColumnRenamed("_c12", "mcc")\
       .withColumnRenamed("_c13", "errors")\
       .withColumnRenamed("_c14", "fraud")

In [14]:
df.createOrReplaceTempView('transaction_cards')

In [15]:
spark.sql('SELECT * FROM transaction_cards').show()

+----+----+----+-----+---+-----+-------+------------------+--------------------+-------------+-----------+-------+----+------+-----+
|user|card|year|month|day| time| amount|          use_chip|          merch_name|   merch_city|merch_state|    zip| mcc|errors|fraud|
+----+----+----+-----+---+-----+-------+------------------+--------------------+-------------+-----------+-------+----+------+-----+
|   0|   0|2002|    9|  1|06:21|$134.09| Swipe Transaction| 3527213246127876953|     La Verne|         CA|91750.0|5300|  null|   No|
|   0|   0|2002|    9|  1|06:42| $38.48| Swipe Transaction| -727612092139916043|Monterey Park|         CA|91754.0|5411|  null|   No|
|   0|   0|2002|    9|  2|06:22|$120.34| Swipe Transaction| -727612092139916043|Monterey Park|         CA|91754.0|5411|  null|   No|
|   0|   0|2002|    9|  2|17:45|$128.95| Swipe Transaction| 3414527459579106770|Monterey Park|         CA|91754.0|5651|  null|   No|
|   0|   0|2002|    9|  3|06:23|$104.71| Swipe Transaction| 5817218446178736267|     La Verne|         CA|91750.0|5912|  null|   No|
|   0|   0|2002|    9|  3|13:53| $86.19| Swipe Transaction|-7146670748125200898|Monterey Park|         CA|91755.0|5970|  null|   No|
|   0|   0|2002|    9|  4|05:51| $93.84| Swipe Transaction| -727612092139916043|Monterey Park|         CA|91754.0|5411|  null|   No|
|   0|   0|2002|    9|  4|06:09|$123.50| Swipe Transaction| -727612092139916043|Monterey Park|         CA|91754.0|5411|  null|   No|
|   0|   0|2002|    9|  5|06:14| $61.72| Swipe Transaction| -727612092139916043|Monterey Park|         CA|91754.0|5411|  null|   No|
|   0|   0|2002|    9|  5|09:35| $57.10| Swipe Transaction| 4055257078481058705|     La Verne|         CA|91750.0|7538|  null|   No|
|   0|   0|2002|    9|  5|20:18| $76.07| Swipe Transaction|-4500542936415012428|     La Verne|         CA|91750.0|5814|  null|   No|
|   0|   0|2002|    9|  5|20:41| $53.91|Online Transaction|-9092677072201095172|       ONLINE|       null|   null|4900|  null|   No|
|   0|   0|2002|    9|  6|06:16|$110.37| Swipe Transaction| 2027553650310142703|    Mira Loma|         CA|91752.0|5541|  null|   No|
|   0|   0|2002|    9|  7|06:16|$117.05| Swipe Transaction| -727612092139916043|Monterey Park|         CA|91754.0|5411|  null|   No|
|   0|   0|2002|    9|  7|06:34| $45.30| Swipe Transaction|-5475680618560174533|Monterey Park|         CA|91755.0|5942|  null|   No|
|   0|   0|2002|    9|  7|09:39| $29.34| Swipe Transaction| 4055257078481058705|     La Verne|         CA|91750.0|7538|  null|   No|
|   0|   0|2002|    9|  8|06:10|$147.45| Swipe Transaction|  -34551508091458520|     La Verne|         CA|91750.0|5912|  null|   No|
|   0|   0|2002|    9|  8|06:38| $27.75| Swipe Transaction| 4060646732831064559|     La Verne|         CA|91750.0|5411|  null|   No|
|   0|   0|2002|    9|  8|13:48| $76.57| Swipe Transaction| -727612092139916043|Monterey Park|         CA|91754.0|5411|  null|   No|
|   0|   0|2002|    9|  8|22:01| $22.56| Swipe Transaction|-6733168469687845480|    Mira Loma|         CA|91752.0|7832|  null|   No|
+----+----+----+-----+---+-----+-------+------------------+--------------------+-------------+-----------+-------+----+------+-----+
only showing top 20 rows

In [8]:
# Muestra la fecha(“year”, “month”, “day”) como un único campo para la transacciones
# tipo “Online Transaction” del usuario con id = 4
spark.sql("SELECT CONCAT(year,month, day) FROM transaction_cards WHERE user == 4 AND use_chip == 'Online Transaction'").show()

+------------------------+
|concat(year, month, day)|
+------------------------+
|                 1999122|
|                19991230|
|                  200011|
|                  200012|
|                  200013|
|                  200016|
|                 2000113|
|                 2000115|
|                 2000128|
|                 2000130|
|                 2000130|
|                  200022|
|                 2000216|
|                  200031|
|                  200038|
|                 2000312|
|                 2000313|
|                 2000315|
|                 2000319|
|                 2000321|
+------------------------+
only showing top 20 rows

In [10]:
# ¿Qué cantidad de transacciones ha realizado cada tarjeta? (pd: las tarjetas se
# identifican por dos números:“user” y “card”)
spark.sql("SELECT user, card, COUNT(user) FROM transaction_cards GROUP BY user, card").show()

+----+----+-----------+
|user|card|count(user)|
+----+----+-----------+
|  26|   0|      10945|
|  31|   3|       3978|
|  31|   1|       5696|
|  26|   1|         33|
|  15|   0|       2847|
|   8|   2|      10742|
|  34|   0|       4741|
|  16|   2|        963|
|  44|   1|      15949|
|  15|   2|       2461|
|   0|   4|         26|
|   1|   4|       1149|
|  37|   0|       3662|
|   5|   1|       4253|
|   9|   0|      18284|
|  36|   1|       3726|
|   0|   1|       1203|
|   1|   1|       1830|
|   7|   0|        236|
|  10|   0|         49|
+----+----+-----------+
only showing top 20 rows

In [12]:
# En qué tienda se han realizado el mayor número de transacciones?(pd: el dataset no
# contiene el nombre de la tienda, solo un identificador)
spark.sql("SELECT merch_name, COUNT(*) as cuenta FROM transaction_cards GROUP BY merch_name ORDER BY cuenta DESC LIMIT 1").show()

+-------------------+------+
|         merch_name|cuenta|
+-------------------+------+
|1799189980464955940|102100|
+-------------------+------+

In [16]:
#¿Cuáles son los distintos valores que tiene el campo “Errors?”?
spark.sql("SELECT DISTINCT errors FROM transaction_cards").show()

+--------------------+
|              errors|
+--------------------+
|    Technical Glitch|
|Bad Card Number,B...|
|Bad Expiration,Ba...|
|Bad Card Number,I...|
|Insufficient Balance|
|     Bad Card Number|
|                null|
|Bad PIN,Insuffici...|
|Bad Expiration,Te...|
|Bad Expiration,In...|
|Bad Card Number,B...|
|             Bad PIN|
|Bad Card Number,B...|
|Insufficient Bala...|
|             Bad CVV|
|Bad PIN,Technical...|
|      Bad Expiration|
|         Bad Zipcode|
|Bad CVV,Insuffici...|
|Bad CVV,Technical...|
+--------------------+
only showing top 20 rows

In [17]:
# ¿Cuáles son los nombres y códigos zip de las ciudades donde se realizaron
# transacciones, y su código zip es mayor a 5000 y menor a 7000?(pd: algunas
# ciudades tienen varios zips) ORDEN ALFABÉTICO
spark.sql("SELECT DISTINCT merch_city, zip FROM transaction_cards WHERE zip > 5000 AND zip<7000").show()

+-------------+------+
|   merch_city|   zip|
+-------------+------+
|     Weatogue|6089.0|
|   Ridgefield|6877.0|
|  Broad Brook|6016.0|
|   West Haven|6516.0|
|  Wallingford|6492.0|
|      Norwalk|6853.0|
|West Hartford|6110.0|
|   Sandy Hook|6482.0|
|       Groton|6340.0|
|    Salisbury|6068.0|
|       Berlin|6037.0|
|     Prospect|6712.0|
|   Deep River|6417.0|
|     Old Lyme|6371.0|
|   Willington|6279.0|
|       Groton|5046.0|
|East Hartford|6108.0|
|     Hartford|6105.0|
| East Corinth|5040.0|
|   Manchester|6040.0|
+-------------+------+
only showing top 20 rows

In [19]:
# ¿Qué cantidad de fraudes se han cometido?
spark.sql("SELECT COUNT(*) FROM transaction_cards WHERE fraud = 'Yes'").show()spark.sql(" SELECT COUNT(*) FROM transaction_cards WHERE fraud = 'Yes'").show()

+--------+
|count(1)|
+--------+
|    2529|
+--------+

In [20]:
# ¿Cuál es la media de los años?
spark.sql("SELECT AVG(year) FROM transaction_cards").show()

+------------------+
|         avg(year)|
+------------------+
|2011.7077403077133|
+------------------+

In [22]:
# ¿Cuál es la última fila del dataset?
spark.sql("SELECT * FROM transaction_cards ORDER BY (user, card) DESC LIMIT 1").show()

+----+----+----+-----+---+-----+-------+----------------+-------------------+----------+-----------+-------+----+------+-----+
|user|card|year|month|day| time| amount|        use_chip|         merch_name|merch_city|merch_state|    zip| mcc|errors|fraud|
+----+----+----+-----+---+-----+-------+----------------+-------------------+----------+-----------+-------+----+------+-----+
|  99|   1|2019|   11| 26|12:51|$594.73|Chip Transaction|3452760747765970571|Lewisville|         TX|75077.0|3174|  null|   No|
+----+----+----+-----+---+-----+-------+----------------+-------------------+----------+-----------+-------+----+------+-----+

In [33]:
df_cards = spark.read.csv("file:///home/hduser/archive(1)/sd254_cards.csv")

In [34]:
df_cards = df_cards.withColumnRenamed("_c0", "user")\
       .withColumnRenamed("_c1", "card")\
       .withColumnRenamed("_c2", "brand")\
       .withColumnRenamed("_c3", "type")\
       .withColumnRenamed("_c4", "number")\
       .withColumnRenamed("_c5", "expires")\
       .withColumnRenamed("_c6", "cvv")\
       .withColumnRenamed("_c7", "chip")

In [35]:
df_cards.createOrReplaceTempView('cards')

In [36]:
spark.sql('SELECT * FROM cards').show()

+----+----------+----------+---------------+----------------+-------+---+--------+------------+------------+--------------+--------------------+----------------+
|user|      card|     brand|           type|          number|expires|cvv|    chip|         _c8|         _c9|          _c10|                _c11|            _c12|
+----+----------+----------+---------------+----------------+-------+---+--------+------------+------------+--------------+--------------------+----------------+
|User|CARD INDEX|Card Brand|      Card Type|     Card Number|Expires|CVV|Has Chip|Cards Issued|Credit Limit|Acct Open Date|Year PIN last Cha...|Card on Dark Web|
|   0|         0|      Visa|          Debit|4344676511950444|12/2022|623|     YES|           2|      $24295|       09/2002|                2008|              No|
|   0|         1|      Visa|          Debit|4956965974959986|12/2020|393|     YES|           2|      $21968|       04/2014|                2014|              No|
|   0|         2|      Visa|          Debit|4582313478255491|02/2024|719|     YES|           2|      $46414|       07/2003|                2004|              No|
|   0|         3|      Visa|         Credit|4879494103069057|08/2024|693|      NO|           1|      $12400|       01/2003|                2012|              No|
|   0|         4|Mastercard|Debit (Prepaid)|5722874738736011|03/2009|075|     YES|           1|         $28|       09/2008|                2009|              No|
|   1|         0|      Visa|         Credit|4404898874682993|09/2003|736|     YES|           1|      $27500|       09/2003|                2012|              No|
|   1|         1|      Visa|          Debit|4001482973848631|07/2022|972|     YES|           2|      $28508|       02/2011|                2011|              No|
|   1|         2|Mastercard|          Debit|5627220683410948|06/2022|048|     YES|           2|       $9022|       07/2003|                2015|              No|
|   1|         3|Mastercard|Debit (Prepaid)|5711382187309326|11/2020|722|     YES|           2|         $54|       06/2010|                2015|              No|
|   1|         4|Mastercard|Debit (Prepaid)|5766121508358701|02/2023|908|     YES|           1|         $99|       07/2006|                2012|              No|
|   2|         0|Mastercard|          Debit|5495199163052054|03/2022|677|     YES|           2|      $31599|       10/2009|                2009|              No|
|   2|         1|Mastercard|          Debit|5804499644308599|07/2023|258|      NO|           2|      $27480|       03/2002|                2008|              No|
|   2|         2|Mastercard|          Debit|5766352389579834|02/2020|992|     YES|           1|      $26743|       03/2019|                2019|              No|
|   2|         3|      Visa|          Debit|4242015583697294|06/2020|928|     YES|           1|      $31463|       04/2014|                2014|              No|
|   2|         4|Mastercard|          Debit|5191030913182493|06/2024|360|     YES|           1|      $16055|       09/2009|                2009|              No|
|   3|         0|      Visa|         Credit|4017261190134817|05/2015|877|     YES|           2|      $98100|       01/2011|                2011|              No|
|   3|         1|Mastercard|Debit (Prepaid)|5581970288727991|06/2020|448|     YES|           1|         $62|       02/2007|                2007|              No|
|   3|         2|      Visa|          Debit|4032240655674503|06/2022|053|     YES|           1|     $132439|       11/2010|                2011|              No|
|   3|         3|      Visa|          Debit|4935974646456357|06/2020|649|     YES|           1|     $125723|       10/2009|                2010|              No|
+----+----------+----------+---------------+----------------+-------+---+--------+------------+------------+--------------+--------------------+----------------+
only showing top 20 rows

In [37]:
# Muestra los atributos “Card Brand”, “Card Type”, “Card Number” para cada tarjeta
spark.sql("SELECT DISTINCT cards.brand, cards.type , cards.number FROM transaction_cards, cards WHERE cards.user == transaction_cards.user AND cards.card == transaction_cards.card").show()

+----------+---------------+----------------+
|     brand|           type|          number|
+----------+---------------+----------------+
|      Visa|          Debit|4344676511950444|
|Mastercard|          Debit|5456808094753905|
|Mastercard|          Debit|5281056728185174|
|      Visa|         Credit|4404898874682993|
|      Amex|         Credit| 399966116933253|
|      Visa|         Credit|4879494103069057|
|      Visa|          Debit|4242015583697294|
|Mastercard|Debit (Prepaid)|5750288075891808|
|Mastercard|         Credit|5882842508952744|
|Mastercard|         Credit|5247576622089394|
|      Visa|         Credit|4231526239204033|
|Mastercard|         Credit|5172743861765175|
|Mastercard|Debit (Prepaid)|5711382187309326|
|Mastercard|          Debit|5804499644308599|
|Mastercard|          Debit|5191030913182493|
|Mastercard|         Credit|5301114615829913|
|      Visa|          Debit|4013876625955765|
|      Visa|         Credit|4800116569994473|
|Mastercard|          Debit|5401948301255038|
|      Visa|          Debit|4055403312631050|
+----------+---------------+----------------+
only showing top 20 rows

In [39]:
# ¿Qué cantidad de tarjetas tienen CHIP?
spark.sql("SELECT cards.chip, COUNT(DISTINCT cards.user, cards.card) FROM cards, transaction_cards WHERE cards.user == transaction_cards.user AND cards.card == transaction_cards.card AND cards.chip='YES' GROUP BY cards.chip").show()

+----+--------------------------+
|chip|count(DISTINCT user, card)|
+----+--------------------------+
| YES|                       505|
+----+--------------------------+